<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
    body{
        text-align: center;
    }
    </style>
</head>
<body>

    <h3>Sorry for inconvince</h3>
    <img src="https://cliply.co/wp-content/uploads/2021/07/372107370_CROSS_MARK_400px.gif" alt="">
    <h1>Swipe Back to complete Registeration</h1>
</body>
</html>